*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #44624A;

}

.btn{
  width: 88px;
  height: 75px;
  border: none;
  border-radius: 25px;
  font-size: 36px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ac{
    font-weight: 500;
}

.btn:hover{
   margin-top: -5px;
   transition: ease-out 0.1s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.display{
    height: 75px;
    width: 400px;
    background-color: #F1EBE1;
    border-radius: 20px;
    margin-top: 80px;
    row-gap: 0px;
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: 48px;
    text-align: left;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  max-width: 500px;
  margin-top: 15px;
  margin: 100px;
  justify-self:center;
}